<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" media="all" href=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name=”format-detection” content=”telephone=no” />
    
        <title>{{block title}}{{=settings.get_var("INFO/site_title")}}{{end}}</title>
        {{include "theme/utils.html"}}
    
        <!-- toplinks -->
        {{block meta}}
        {{end}}

        {{use "bootstrap"}}
        {{use "jquery"}}
        

        {{block pagecss}}
        {{end}}
</head>

<body id="themebody" class="bootstrap-body theme-{{utils.theme()}} {{block body_class}}{{end}}">

{{block before_header}}{{end}}
{{block header}}{{end}}
{{block after_header}}{{end}}

{{block content}}
{{end content}}

{{block before_footer}}{{end}}
{{block footer}}{{end footer}}
{{block after_footer}}{{end}}

{{block flash}}{{end}}


{{block theme}}
    {{themelink "theme/<THEME>/theme.css"}}
{{end}}
</body>
</html>
